project_id = "ykleosfvtqcmqxqihnod"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[functions.sync-github-events]
verify_jwt = false

[functions.send-push]
verify_jwt = false

[functions.weekly-meetup-poll]
verify_jwt = false

[functions.weekly-sport-poll]
verify_jwt = false

[functions.tribe-ai-chat]
verify_jwt = false

[functions.monthly-creative-circle]
verify_jwt = false

[functions.fetch-event-description]
verify_jwt = false

[functions.ai-batch-geocode]
verify_jwt = false

[functions.youtube-search]
verify_jwt = false

[functions.generate-blog-content]
verify_jwt = false

[functions.mia-notifications]
verify_jwt = false

[db]
port = 54322

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[realtime]
enabled = true
ip_version = "ipv6"

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1:54321"

[inbucket]
enabled = true
port = 54324
smtp_port = 54325
pop3_port = 54326

[storage]
enabled = true
file_size_limit = "50MiB"

[auth]
enabled = true
site_url = "http://127.0.0.1:3000"
additional_redirect_urls = ["https://localhost:3000"]
jwt_expiry = 3600
enable_manual_linking = false

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false

[edge-runtime]
enabled = true
ip_version = "ipv6"
port = 54326

[analytics]
enabled = false
